@charset "utf-8";

/* 문서 전체 폰트 적용 */
@font-face {
    font-family: 'locus_sangsang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/locus_sangsang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'locus_sangsang';
}

html {
    font-size: 0.9vw;
}

ul,
li,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}


/* 마우스 포인터 효과 */
.cursor {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 1000;
    background: #fff;
    user-select: none;
    pointer-events: none;
    transform: scale(1);
    transition: transform .3s ease-in-out, opacity .2s ease-in-out;
    mix-blend-mode: difference;
}

.cursor.active {
    transform: scale(2);
}


/* 헤더 시작 */
header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0) !important;
    mix-blend-mode: inherit;
    backdrop-filter: blur(4px);
    z-index: 5;
    cursor: none;
}

header.active {
    transform: translate3d(0, 0, 0);
}


/* 주요 컨텐츠 사이즈 */
header .container {
    width: 90%;
    height: 100%;
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


/* 메뉴바 */
.spMenu_btn {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: darkorchid;
}

.spMenu_btn>ul {
    position: absolute;
    width: 20px;
    height: 1px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: chocolate;
}

.spMenu_btn>ul>li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.spMenu_btn>ul>li:first-child {
    top: -7px;
}

.spMenu_btn>ul>li:last-child {
    width: 50%;
    top: 7px;
}


/* spMenu_btn li before, after */
.spMenu_btn>ul>li::before,
.spMenu_btn>ul>li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.spMenu_btn>ul>li::after {
    transform: translateX(-100%);
}

header a {
    line-height: 40px;
}

header .logo_1.on {
    margin: 0 auto;
}

header .logo_1 > a::before {
    background-image: url("../header/logo.png");
    opacity: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

header .logo_1 > a::after {
    background-image: url("../header/logo1.png");
    opacity: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

header .logo_1 {
    width: 120px;
    height: 40px;
    position: relative;
    background-color: wheat;
}


header .logo_1 a {
    width: 100%;
    height: 100%;
}


/* 네비게이션 */
.nav {
    width: 100%;
    max-width: 980px;
    height: 100%;
    background-color: blueviolet;
    display: flex;
    justify-content: flex-start;
    text-align: center;
}


/* 네비 왼쪽 */
.nav .navL {
    width: 60%;
    height: auto;
    background-color: aqua;
}


/* 네비 ul 메인 */
.nav .navL .navL_M {
    width: 100%;
    height: 100%;
    background-color: salmon;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav .navL .navL_M li {
    box-sizing: border-box;
    background-color: #333;
    font-size: 1.5rem;
    border-bottom: 1px solid #fff;
}

.nav .navL .navL_M>li:first-child,
.nav .navL .navL_M>li:nth-of-type(2),
.nav .navL .navL_M>li:last-child {
    margin-right: 15px;
    position: relative;
    text-transform: uppercase;
}


/* product before */
.nav .navL .navL_M>li>a::before {
    opacity: 0.3;
}

.nav .navL .navL_M>li:first-child>a::before {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #fff;
}


/* activities before */
.nav .navL .navL_M>li:nth-of-type(2)>a::before {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #fff;
}


/* picup before */
.nav .navL .navL_M>li:last-child>a::before {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #fff;
}


/* product after */
.nav .navL .navL_M>li>a::after {
    left: auto;
    width: 0;
    right: 0;
}

.nav .navL .navL_M>li:first-child>a::after {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #fff;
}

.nav .navL .navL_M>li:first-child>a::after:hover {
    animation: graph 1.5s ease-in-out;
}

@keyframes graph {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.nav .navL .navL_M>li:first-child>a::after:hover {
    
}


/* activites after */
.nav .navL .navL_M>li:nth-of-type(2)>a::after {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #fff;
    opacity: 0;
}


/* picup after */
.nav .navL .navL_M>li:last-child>a::after {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #fff;
    opacity: 0;
}

.nav .navL .navL_M li:first-child i,
.nav .navL .navL_M li:nth-of-type(2) i {
    padding-left: 15px;
    font-size: 15px;
    transform: translateY(-17%);
}


/* 네비 ul 서브 */
.nav .navL .navL_M .navL_S {
    width: 230px;
    position: absolute;
    top: 50px;
    background-color: blue;
    box-sizing: border-box;
    text-align: left;
    backdrop-filter: blur(4px);
    text-transform: none;
}

.nav .navL .navL_M .navL_S li {
    box-sizing: border-box;
    padding: 5px;
}

.nav .navL .navL_M .navL_S li:hover {
    text-decoration: underline;
}

.nav .navL .navL_M .navL_S li:last-child {
    border-bottom: none;
}

.nav .navL .navL_M .navL_S li a {
    color: gold;
}


/* 네비 오른쪽 ul */
.nav .navR {
    width: 50%;
    height: auto;
    background-color: chartreuse;
}


/* 네비 오른쪽 ul 메인 */
.nav .navR_M {
    width: 95%;
    height: 100%;
    background-color: salmon;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav .navR .navR_M li {
    box-sizing: border-box;
    background-color: #333;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.nav .navR_M li:first-child {
    margin-right: 15px;
}


/* sns 부분 */
header .container .sns {
    width: 20%;
    background-color: aqua;
}

header .container .sns ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .container .sns ul li {
    font-size: 1.5rem;
}

header .container .sns ul li i {
    padding-top: 10px;
}

header .container .sns ul li:first-child,
header .container .sns ul li:nth-of-type(2) {
    margin-right: 3%;
}


/* 풋터 부분 */
footer {
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    z-index: 5;
}

footer .container {
    width: 90%;
    height: 100%;
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

/* 로고 이미지 */
footer .logo {
    width: 120px;
    height: 40px;
    position: relative;
}

footer .logo .logo_1 {
    width: 100%;
    height: 40px;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

footer .logo_1 a {
    display: inline-block;
    height: 40px;
}

footer .logo .logo_2 {
    width: 100%;
    height: 100%;
}


/* 네비게이션 */
footer .nav_R {
    width: 90%;
    max-width: 980px;
    height: 100%;
    background-color: blueviolet;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}


/* 네비 왼쪽 */
footer .nav_R .navL {
    width: 50%;
    height: auto;
    background-color: aqua;
}


/* 네비 ul 메인 */
footer .nav_R .navL .navL_M {
    width: 100%;
    height: 100%;
    background-color: salmon;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer .nav_R .navL .navL_M li {
    box-sizing: border-box;
    background-color: #333;
    font-size: 1.5rem;
    border-bottom: 1px solid #fff;
}

footer .nav_R .navL .navL_M>li:first-child,
footer .nav_R .navL .navL_M>li:nth-of-type(2) {
    margin-right: 15px;
}

footer .nav_R .navL .navL_M>li:first-child a i,
footer .nav_R .navL .navL_M>li:nth-of-type(2) a i {
    padding-left: 15px;
    font-size: 15px;
    transform: translateY(-17%);
}

footer .nav_R .navL .navL_M>li:first-child,
footer .nav_R .navL .navL_M>li:nth-of-type(2),
footer .nav_R .navL .navL_M>li:last-child {
    position: relative;
    text-transform: uppercase;
}


/* product before */
footer .nav_R .navL .navL_M>li>a::before {
    opacity: 0.3;
}

footer .nav_R .navL .navL_M>li:first-child>a::before {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #fff;
}

footer .nav_R .navL .navL_M>li:nth-of-type(2)>a::before {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #fff;
}

footer .nav_R .navL .navL_M>li:last-child>a::before {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #fff;
}


/* product after */
footer .nav_R .navL .navL_M>li>a::after {
    left: auto;
    width: 0;
    right: 0;
}

footer .nav_R .navL .navL_M>li:first-child>a::after {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #fff;
}


/* activities after */
footer .nav_R .navL .navL_M>li:nth-of-type(2)>a::after {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #fff;
}


/* picup after */
footer .nav_R .navL .navL_M>li:last-child>a::after {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #fff;
}

footer .nav_R .navL .navL_M li:first-child i,
footer .nav_R .navL .navL_M li:nth-of-type(2) i {
    padding-left: 15px;
}


/* 네비 ul 서브 */
footer .nav_R .navL .navL_M .navL_S {
    width: 230px;
    position: absolute;
    bottom: 37px;
    left: 0;
    background-color: blue;
    box-sizing: border-box;
    text-align: left;
    backdrop-filter: blur(4px);
    text-transform: none;
}

footer .nav_R .navL .navL_M .navL_S li {
    box-sizing: border-box;
    padding: 5px;
}

footer .nav_R .navL .navL_M .navL_S li:hover {
    text-decoration: underline;
}

footer .nav_R .navL .navL_M .navL_S li:last-child {
    border-bottom: none;
}

footer .nav_R .navL .navL_M .navL_S li a {
    color: gold;
}

footer .nav_R .navR {
    width: 35%;
    height: auto;
    background-color: chartreuse;
}


/* 네비 오른쪽 ul 메인 */
footer .nav_R .navR_M {
    width: 100%;
    height: 100%;
    background-color: salmon;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer .nav_R .navR .navR_M li {
    box-sizing: border-box;
    background-color: #333;
    font-size: 1.3rem;
    text-transform: uppercase;
}

footer .nav_R .navR .navR_M li:first-child,
footer .nav_R .navR .navR_M li:nth-of-type(2) {
    margin-right: 15px;
}


/* 미디어 모바일 사이즈 */
@media (max-width: 767px) {

}


/* 미디어 중간 사이즈 */
@media (min-width: 768px) and (max-width: 1199px) {
    /* 헤더 시작 */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0) !important;
    mix-blend-mode: inherit;
    backdrop-filter: blur(4px);
    z-index: 5;
    cursor: none;
    /* font-size: 0.8vw; */
}

header.active {
    transform: translate3d(0, 0, 0);
}


/* 주요 컨텐츠 사이즈 */
header .container {
    width: 90%;
    height: 100%;
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


/* 메뉴바 */
.spMenu_btn {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: darkorchid;
}

.spMenu_btn>ul {
    position: absolute;
    width: 20px;
    height: 1px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: chocolate;
}

.spMenu_btn>ul>li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.spMenu_btn>ul>li:first-child {
    top: -7px;
}

.spMenu_btn>ul>li:last-child {
    width: 50%;
    top: 7px;
}


/* spMenu_btn li before, after */
.spMenu_btn>ul>li::before,
.spMenu_btn>ul>li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.spMenu_btn>ul>li::after {
    transform: translateX(-100%);
}


/* 로고 이미지 */
header .logo {
    width: 120px;
    height: 40px;
    position: relative;
}

header .logo .logo_1 {
    width: 100%;
    height: 40px;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.logo_1 a {
    display: inline-block;
    height: 40px;
}

header .logo .logo_2 {
    width: 100%;
    height: 100%;
}


/* 네비게이션 */
.nav {
    width: 100%;
    max-width: 980px;
    height: 100%;
    background-color: blueviolet;
    display: flex;
    justify-content: flex-start;
    text-align: center;
}


/* 네비 왼쪽 */
.nav .navL {
    width: 60%;
    height: auto;
    background-color: aqua;
}


/* 네비 ul 메인 */
.nav .navL .navL_M {
    width: 100%;
    height: 100%;
    background-color: salmon;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav .navL .navL_M li {
    box-sizing: border-box;
    background-color: #333;
    font-size: 1.5rem;
    border-bottom: 1px solid #fff;
}

.nav .navL .navL_M>li:first-child,
.nav .navL .navL_M>li:nth-of-type(2),
.nav .navL .navL_M>li:last-child {
    margin-right: 15px;
    position: relative;
    text-transform: uppercase;
}


/* product before */
.nav .navL .navL_M>li>a::before {
    opacity: 0.3;
}

.nav .navL .navL_M>li:first-child>a::before {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #fff;
}


/* activities before */
.nav .navL .navL_M>li:nth-of-type(2)>a::before {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #fff;
    transition: all 1.5s ease-in-out;
}


/* picup before */
.nav .navL .navL_M>li:last-child>a::before {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #fff;
}


/* product after */
.nav .navL .navL_M>li>a::after {
    left: auto;
    width: 0;
    right: 0;
}

.nav .navL .navL_M>li:first-child>a::after {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #fff;
}


/* activites after */
.nav .navL .navL_M>li:nth-of-type(2)>a::after {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #fff;
    opacity: 0;
}


/* picup after */
.nav .navL .navL_M>li:last-child>a::after {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #fff;
    opacity: 0;
}

.nav .navL .navL_M li:first-child i,
.nav .navL .navL_M li:nth-of-type(2) i {
    padding-left: 15px;
    font-size: 15px;
    transform: translateY(-17%);
}


/* 네비 ul 서브 */
.nav .navL .navL_M .navL_S {
    width: 230px;
    position: absolute;
    top: 37px;
    background-color: blue;
    box-sizing: border-box;
    text-align: left;
    backdrop-filter: blur(4px);
    text-transform: none;
}

.nav .navL .navL_M .navL_S li {
    box-sizing: border-box;
    padding: 5px;
}

.nav .navL .navL_M .navL_S li:hover {
    text-decoration: underline;
}

.nav .navL .navL_M .navL_S li:last-child {
    border-bottom: none;
}

.nav .navL .navL_M .navL_S li a {
    color: gold;
}


/* 네비 오른쪽 ul */
.nav .navR {
    width: 50%;
    height: auto;
    background-color: chartreuse;
}


/* 네비 오른쪽 ul 메인 */
.nav .navR_M {
    width: 95%;
    height: 100%;
    background-color: salmon;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav .navR .navR_M li {
    box-sizing: border-box;
    background-color: #333;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.nav .navR_M li:first-child {
    margin-right: 15px;
}


/* sns 부분 */
header .container .sns {
    width: 20%;
    background-color: aqua;
}

header .container .sns ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .container .sns ul li {
    font-size: 1.5rem;
}

header .container .sns ul li:first-child,
header .container .sns ul li:nth-of-type(2) {
    margin-right: 3%;
}


/* 풋터 부분 */
footer {
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    z-index: 5;
}

footer .container {
    width: 90%;
    height: 100%;
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

/* 로고 이미지 */
footer .logo {
    width: 120px;
    height: 40px;
    position: relative;
}

footer .logo .logo_1 {
    width: 100%;
    height: 40px;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

footer .logo_1 a {
    display: inline-block;
    height: 40px;
}

footer .logo .logo_2 {
    width: 100%;
    height: 100%;
}


/* 네비게이션 */
footer .nav_R {
    width: 90%;
    max-width: 980px;
    height: 100%;
    background-color: blueviolet;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}


/* 네비 왼쪽 */
footer .nav_R .navL {
    width: 50%;
    height: auto;
    background-color: aqua;
}


/* 네비 ul 메인 */
footer .nav_R .navL .navL_M {
    width: 100%;
    height: 100%;
    background-color: salmon;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer .nav_R .navL .navL_M li {
    box-sizing: border-box;
    background-color: #333;
    font-size: 1.5rem;
    border-bottom: 1px solid #fff;
}

footer .nav_R .navL .navL_M>li:first-child,
footer .nav_R .navL .navL_M>li:nth-of-type(2) {
    margin-right: 15px;
}

footer .nav_R .navL .navL_M>li:first-child a i,
footer .nav_R .navL .navL_M>li:nth-of-type(2) a i {
    padding-left: 15px;
    font-size: 15px;
    transform: translateY(-17%);
}

footer .nav_R .navL .navL_M>li:first-child,
footer .nav_R .navL .navL_M>li:nth-of-type(2),
footer .nav_R .navL .navL_M>li:last-child {
    position: relative;
    text-transform: uppercase;
}


/* product before */
footer .nav_R .navL .navL_M>li>a::before {
    opacity: 0.3;
}

footer .nav_R .navL .navL_M>li:first-child>a::before {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #fff;
}

footer .nav_R .navL .navL_M>li:nth-of-type(2)>a::before {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #fff;
}

footer .nav_R .navL .navL_M>li:last-child>a::before {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #fff;
}


/* product after */
footer .nav_R .navL .navL_M>li>a::after {
    left: auto;
    width: 0;
    right: 0;
}

footer .nav_R .navL .navL_M>li:first-child>a::after {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #fff;
}


/* activities after */
footer .nav_R .navL .navL_M>li:nth-of-type(2)>a::after {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #fff;
}


/* picup after */
footer .nav_R .navL .navL_M>li:last-child>a::after {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #fff;
}

footer .nav_R .navL .navL_M li:first-child i,
footer .nav_R .navL .navL_M li:nth-of-type(2) i {
    padding-left: 15px;
}


/* 네비 ul 서브 */
footer .nav_R .navL .navL_M .navL_S {
    width: 230px;
    position: absolute;
    bottom: 37px;
    left: 0;
    background-color: blue;
    box-sizing: border-box;
    text-align: left;
    backdrop-filter: blur(4px);
    text-transform: none;
}

footer .nav_R .navL .navL_M .navL_S li {
    box-sizing: border-box;
    padding: 5px;
}

footer .nav_R .navL .navL_M .navL_S li:hover {
    text-decoration: underline;
}

footer .nav_R .navL .navL_M .navL_S li:last-child {
    border-bottom: none;
}

footer .nav_R .navL .navL_M .navL_S li a {
    color: gold;
}

footer .nav_R .navR {
    width: 35%;
    height: auto;
    background-color: chartreuse;
}


/* 네비 오른쪽 ul 메인 */
footer .nav_R .navR_M {
    width: 100%;
    height: 100%;
    background-color: salmon;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer .nav_R .navR .navR_M li {
    box-sizing: border-box;
    background-color: #333;
    font-size: 1.3rem;
    text-transform: uppercase;
}

footer .nav_R .navR .navR_M li:first-child,
footer .nav_R .navR .navR_M li:nth-of-type(2) {
    margin-right: 15px;
}
}


/* 1200px 이상 */
@media (min-width: 1200px) {

}