@charset "utf-8";

/* 섹션 부분 */
#section {
    width: 100%;
    height: auto;
    background-color: blueviolet;
}

#section .container {
    width: 90%;
    height: auto;
    background-color: cornflowerblue;
    margin: 0 auto;
}

#section .container #contents_M {
    width: 100%;
    height: 8000px;
    background-color: darksalmon;
    position: relative; 
    display: flex;
}


/* 섹션 왼쪽 */
#section .container #contents_M .section_L {
    width: 25%;
    height: auto;
    background-color: chartreuse;
    box-sizing: border-box;
    padding: 0 15px;
    text-align: center;
}

#section .container #contents_M .section_L h1 {
    position: fixed;
    left: auto;
    margin-left: 215px;
    z-index: 10;
    width: 120px;
    height: 150px;
    background: url(../subimg/360sky.png) no-repeat 0px 5px;
    display: block;
}

#section .container #contents_M .section_L h2 {
    width: 260px;
    height: 300px;
    margin: 0;
}

#section .container #contents_M .section_L h2 a {
    width: 100%;
    height: 100%;
    background: url(../subimg/logo.png) no-repeat 50% 15px;
    overflow: hidden;
    display: block;
}

#section .container #contents_M .section_L .question {
    position: fixed;
    left: auto;
    width: 81px;
    height: 81px;
    margin-left: 305px;
    z-index: 10;
    display: block;
    top: 97px;
}

#section .container #contents_M .section_L .question a {
    width: 57px;
    height: 57px;
    padding: 26px 12px 0px 12px;
    text-align: center;
    display: block;
    background: url(../subimg/serifu.png) no-repeat 0px 0px;
}


/* 왼쪽 p 설명 */
.section_L .intro {
    width: 100%;
    height: auto;
    background-color: slateblue;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 14px;
    font-size: 1rem;
    margin-bottom: 20px;
}


/* 왼쪽 슬라이드 slide1 */
#section .section_L .slide1 {
    width: 100%;
    height: 250px;
    background-color: darkred;
    margin-bottom: 20px;
}

#section .section_L .slide1 ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
    font-size: 1rem;
}

#section .section_L .slide1 ul li {
    width: 30%;
}


/* 왼쪽 슬라이드 slide1_1 */
#section .section_L .slide1_1 {
    width: 100%;
    height: 250px;
    background-color: darkred;
    margin-bottom: 20px;
}

#section .section_L .slide1_1 ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
    font-size: 1rem;
}

#section .section_L .slide1_1 ul li {
    width: 30%;
}


/* 왼쪽 request 부분 */
#section .section_L .request {
    width: 100%;
    height: 150px;
    background-color: darkkhaki;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 30px;
    font-size: 1rem;
}

#section .section_L i {
    padding-right: 15px;
}








/* 섹션 오른쪽 */
#section .container #contents_M .section_R {
    width: 75%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    background-color: chocolate;
    box-sizing: border-box;
    padding: 0 15px;
}


/* 이미지 전환 슬라이더 */
#slidewrap {
    width: 1100px;
    height: 500px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}

#slidewrap .slide {
    width: 3300px;
}

#slidewrap .slide li {
    width: 1100px;
    height: 500px;
    float: left;
}

#slidewrap .slide li img {
    width: 100%;
    height: 100%;
}

#slidewrap p {
    width: 350px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fff;
    opacity: 0.8;
    border-radius: 10px;
}

#slidewrap span {
    position: absolute;
    top: 50%;
    display: block;
    font-size: 38px;
    color: #fff;
    line-height: 40px;

    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    height: 50px;
    transform: translateY(-50%);
}

#slidewrap span:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #000;
}

#slidewrap .prev {
    left: 0;
    border-radius: 0 10px 10px 0px;
    padding: 12px 8px 0 2px;
}

#slidewrap .next {
    right: 0;
    border-radius: 10px 0px 0px 10px;
    padding: 12px 2px 0 8px;
}


/* Active */
#Active {
    width: 100%;
    height: auto;
    background-color: blanchedalmond;
}

#Active .active {
    width: 100%;
    height: auto;
    background-color: darkgray;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Active .active h1 {
    font-size: 3rem;
    height: 55px;
    font-weight: bold;
    color: burlywood;
    text-align: center;
    text-transform: uppercase;
}

#Active .active .image {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: aqua;
    margin-bottom: 30px;
}

#Active .active .image .img1 {
    width: 24%;
    height: 45%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../subimg/camping.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 15px;
}

#Active .active .image .img2 {
    width: 24%;
    height: 45%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../subimg/bird.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 15px;
}

#Active .active .image .img3 {
    width: 24%;
    height: 45%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../subimg/Palau_19_Waterfall_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 15px;
}

#Active .active .image .img4 {
    width: 24%;
    height: 45%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../subimg/IMG_1536.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 15px;
}

#Active .active .image .img5 {
    width: 24%;
    height: 45%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../subimg/Kayak.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 15px;
}

#Active .active .image .img6 {
    width: 24%;
    height: 45%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../subimg/Palau_19_Canoe_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 15px;
}

#Active .active .image .img7 {
    width: 24%;
    height: 45%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../subimg/Palau_19_PMA_14.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 15px;
}

#Active .active .image .img8 {
    width: 24%;
    height: 45%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../subimg/Photo-29-05-2017-1-05-42-AM.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 15px;
}

#Active .active .image h3 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: white;
}

#Active .active .image a {
    width: 100px;
    border: 1px solid white;
    text-align: center;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 30px;
}


/* Active 설명 */
#Camping {
    width: 100%;
    height: auto;
    background-color: aquamarine;
    margin-bottom: 60px;
}

#Camping .camping {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Camping .camping .campingimg {
    width: 45%;
    height: 600px;
}

#Camping .camping .campingimg img {
    width: 100%;
    height: 100%;
}

#Camping .camping .campingintro {
    width: 45%;
    height: 180px;
    background-color: darkgreen;
    box-sizing: border-box;
    padding: 10px;
}

#Camping .camping .campingintro h2 {
    font-size: 1.5rem;
}

#Camping .camping .campingintro p {
    font-size: 1rem;
}

/* bird 부분 */
#Bird {
    width: 100%;
    height: auto;
    background-color: aquamarine;
    margin-bottom: 60px;
}

#Bird .bird {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Bird .bird .birdimg {
    width: 45%;
    height: 400px;
}

#Bird .bird .birdimg img {
    width: 100%;
    height: 100%;
}

#Bird .bird .birdintro {
    width: 45%;
    height: 200px;
    background-color: darkgreen;
    box-sizing: border-box;
    padding: 10px;
}

#Bird .bird .birdintro h2 {
    font-size: 1.5rem;
}

#Bird .bird .birdintro p {
    font-size: 1rem;
}

#Bird .bird .birdintro a {
    font-size: 1rem;
    color: lightskyblue;
}


/* Hotel 부분 */
#Hotel {
    width: 100%;
    height: auto;
    background-color: cornsilk;
}

#Hotel .hotel {
    width: 100%;
    height: auto;
    background-color: whitesmoke;
}

#Hotel .hotel h1 {
    font-size: 3rem;
    height: 55px;
    font-weight: bold;
    color: burlywood;
    text-align: center;
    text-transform: uppercase;
}

#Hotel .hotel .hotel_1 {
    width: 100%;
    height: 800px;
    background-color: cadetblue;
}